.card-container{
	perspective: 200rem;
	position: relative;
	height: 270px;
}
.card-container:hover .card-front{
	transform: rotateY(180deg);
}
	
.card-container:hover .card-back{
	transform: rotateY(0deg);
}
.card-back{
	transform: rotateY(180deg);
}
.card-sub, .card{
	transition: all 0.9s;
	position: absolute;
	backface-visibility: hidden;
	width: 100%;
	height: 100%;
}
.tryclass{
	animation: sizetext;
	animation-iteration-count: 1;
	animation-duration: 4s;
	animation-timing-function: linear;
}
@keyframes sizetext{
	0%{
		font-size: 1em;
	}
	50%{
		font-size: 2em;
	}
	100%{
		font-size: 1em;
	}
}