*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;

}
nav a{
	text-decoration: none;
	font-weight: bolder;
	line-height: 5;
	margin-left: 15px;
	position: relative;
	top: -15px;
	left: 1000px;
}
a:hover{
	color: yellow;
}
a.active{
	color: red;
}
#p1,#p2{
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
}
#com11
{
	padding: 20px;
	text-align: center;
}
#com{
	position: relative;
	background-size: cover;
	background-position: center;
	opacity: 80%;
	background-attachment: fixed;
	background-color: white;
}
.img1{
	background-image: url('../img/img1.jpg');
	min-height: 800px;
}
.img2{
	background-image: url('../img/img2.jpg');
	min-height: 350px;
}
.img3{
	background-image: url('../img/img3.jpg');
	min-height: 350px;
}
.img1text,.img2text,.img3text{
	position: absolute;
	top: 50%;
	left: 43%;
	font-weight: bold;
	font-size: 30px;
	background: none;
}